body {
  font-family: sans-serif;
  background: #f5f5f5;
  text-align: center;
}

#app {
  background: white;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
}
